.Navbar{
    background-color: rgb(246, 186, 45);
}
.Link{
    /* width: 50px; */
    /* height: px; */
    font-size: 20px;
    font-weight: 900;
}
.Menu{
    background-color: rgb(136, 165, 232);
}